apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: simple-app
          image: docker.io/ivanklivitskyi/simple-python-app:dev-03f59d7
