apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: simple-app
          image: docker.io/ivanklivitskyi/simple-python-app:v1.0.1
