apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
  labels:
    app: simple-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
        - name: simple-app
          # Default image (can be overridden by overlays). Set to Docker Hub repo.
          image: ivanklivitskyi/simple-python-app:latest
          ports:
            - containerPort: 80
